<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-4">
  <h2>{{formTitle}}</h2>
  <form [formGroup]="postEmployeeData" >
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <span *ngIf="name?.invalid && name?.touched">Enter Valid</span>
    </div>
    <div class="form-group">
      <label for="position">Position:</label>
      <input type="text" class="form-control" id="position" formControlName="position">
      <span *ngIf="position?.invalid && position?.touched">Enter Valid</span>
    </div>
    <div class="form-group">
      <label for="salary">Salary:</label>
      <input type="number" class="form-control" id="salary" formControlName="salary">
      <span *ngIf="salary?.invalid && salary?.touched">Enter Valid</span>
    </div>
    <div>
      <label for="image" style="padding-right: 9px;">Upload Profile:</label>
      <input type="file" (change)="onFileSelected($event)" id="image" formArrayName="profilePic" >
      <div  *ngIf=" profilePic && profilePic.invalid && profilePic.touched">Enter Img</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="postEmployeeData.invalid" *ngIf="!editMode" (click)="postEmployeeDataToBackendFromAddUserForm(postEmployeeData.value)">Add Employee</button>
      <button type="submit" class="btn btn-primary" [disabled]="postEmployeeData.invalid" *ngIf="editMode" (click)="updateEmployee()">Update Employee</button>
  
  </form>

</div>
